.contenedor-titulo {
    transition: height 2s ease;
    height: 200px;
    border-radius: 30px;
}

.contenedor-titulo-expandido {
    height: 350px;
    border-radius: 30px;
}

.espaciado-fondo-titulos {
    margin-bottom: 90px;
}

.icono-titulo {
    font-size: 70px;
}

.animacion-izq-titulo {
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease, color 0.6s ease;
    transform: translateX(-100px);
}

.animacion-izq-titulo.visible {
    opacity: 1;
    transition: opacity 2s ease, transform 1.5s ease, color 0.6s ease;
    transform: translateX(0);
}

.texto-titulo {
    opacity: 0;
    transition: opacity 0.3s;
}

.texto-titulo.visible {
    opacity: 1;
    transition: opacity 1s;
}

.animacion-der-titulo {
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease, color 0.6s ease;
    transform: translateX(100px);
}

.animacion-der-titulo.visible {
    opacity: 1;
    transition: opacity 2s ease, transform 1.5s ease, color 0.6s ease;
    transform: translateX(0);
}