/* Animacion para suavizar la transicion del saldo del usuario y contenedor de notificaciones*/
.elemento {
    opacity: 0.1;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.elemento.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animacion para suavizar la transicion de la tabla de movimientos*/
.elemento-tabla {
    opacity: 0.1;
    transform: translateX(50px);
    transition: opacity 2s ease, transform 2s ease;
}

.elemento-tabla.visible {
    opacity: 1;
    transform: translateY(0);
}

.elemento-segundario {
    opacity: 0.1;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}

.elemento-segundario.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Animacion para suavizar la transicion de los componentes interactivos*/

/* primera columna */
.componente-izquierdo {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 2s ease, transform 2s ease;
}

.componente-izquierdo.visible {
    opacity: 1;
    transform: translateY(0);
}

/* segunda columna */
.componente-izquierdov2 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.componente-izquierdov2.visible {
    opacity: 1;
    transform: translateY(0);
}

/* tercera columna */
.componente-derechov2 {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.componente-derechov2.visible {
    opacity: 1;
    transform: translateY(0);
}

/* cuarta columna */
.componente-derecho {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 2s ease, transform 2s ease;
}

.componente-derecho.visible {
    opacity: 1;
    transform: translateY(0);
}


.contenedor-componente-interactivo {
    height: 200px;
}


/*animacion contenedor notificaciones*/
.elemento-noti {
    opacity: 0.1;
    transform: translateX(50px);
    transition: opacity 2s ease, transform 2s ease;
}

.elemento-noti.visible {
    opacity: 1;
    transform: translateY(0);
}

/*scroll del contenedor de notificaciones*/

.scroll {
    overflow: auto;
    height: 600px;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

.scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.756);
    cursor: grab;
}

.scroll::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}