.color-principal {
  background-color: #030a8c;
  color: white;
  font-weight: 700;
}

.color-componente {
  background-color: #95f238;
  color: #0d0d0de8;
  font-weight: 700;
}

.color-componente2 {
  background-color: #aaf23d;
  color: #0d0d0de8;
  font-weight: 700;
}

.test {
  height: 500px;
}

.enlace-claro:hover {
  cursor: pointer;
  text-shadow: 0 0 13px rgb(255, 255, 255);
}

.enlace-oscuro:hover {
  cursor: pointer;
  text-shadow: 0 0 13px rgba(64, 64, 64, 0.542);
}

.borde-brillante {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.letra-brillante {
  text-shadow: 0 0 13px rgb(255, 255, 255);
}