.input-movimientos {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 2px;
    width: 200px;
}

.select-movimientos {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contenedor-movimientos {
    min-height: 400px;
}