@media (max-width: 768px) {
    .logo_not_found {
        font-size: 100px !important;
    }

    .logo_not_found_v2 {
        font-size: 60px !important;
    }

    .titulo-404 {
        font-size: 19px !important;
    }

    .descripcion-404 {
        font-size: 12px !important;
    }

    .desvanecer {
        margin: 50px 0px 0px 20px;
        opacity: 0;
        transition: opacity 3s ease;
    }

    .btn-home {
        font-size: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .logo_not_found {
        font-size: 120px !important;
    }

    .logo_not_found_v2 {
        font-size: 80px !important;
    }

    .titulo-404 {
        font-size: 30px !important;
    }

    .descripcion-404 {
        font-size: 25px !important;
    }

    .desvanecer {
        margin: 50px 0px 0px 20px;
    }

    .btn-home {
        font-size: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1250px) {
    .descripcion-404 {
        font-size: 20px !important;
    }
}

.logo_not_found {
    font-size: 400px;
}

.logo_not_found_v2 {
    font-size: 200px;
}

.titulo-404 {
    font-size: 50px;
}

.desvanecer {
    opacity: 0;
    transition: opacity 3s ease, transform 3s ease;
    transform: translateY(100px);
}

.desvanecer.visible {
    opacity: 1;
    transition: opacity 3s ease, transform 3s ease;
    transform: translateY(0);
}

