.titulo-store {
    font-size: 150px;
    font-weight: 900;
}

.precio {
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: green;
    font-weight: 800;
    opacity: 0.8;
    display: inline-block;
    position: relative;
}

.precio-rebaja {
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: green;
    font-weight: 800;
    opacity: 0.3;
    display: inline-block;
    position: relative;
}

.contenedor-principal-store {
    min-height: 500px;
}

.precio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    /* Grosor de la línea */
    background-color: green;
    /* Color de la línea */
    transform: rotate(0deg);
    /* Inclinación de la línea */
}

.contenedor-elemento-store {
    padding-bottom: 100px;
}

.elemento-store {
    margin-top: 60px;
    height: auto;
    border-radius: 30px;
    transition: transform 0.5s ease;
}


.elemento-store:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.elemento-store:hover .precio {
    opacity: 0.4;
    transform: scale(1.1);
}

.elemento-store:hover .precio-rebaja {
    transform: scale(1.1);
    opacity: 1;
}


.elemento-store:hover .nombre-producto {
    transform: translateY(-55px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.img-elemento {
    transition: transform 0.5s ease;
    margin: 10px 0px;
}

.elemento-store:hover .img-elemento {
    transform: scale(1.05);
}



.nombre-producto {
    padding: 4px 10px;
    transition: transform 0.5s ease;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img-elemento {
    border-radius: 30px;
}

.btn-ver {
    transition: opacity 0.5s ease;
    border-radius: 7px !important;
    background: linear-gradient(135deg, #00BFFF, #1E90FF, #00008B);

}

.btn-ver:hover {
    opacity: 0.6;
}

.flecha-store {
    transition: color 0.5s ease, transform 0.5s ease;
    border: none !important;
    box-shadow: none !important;
}

.flecha-store:hover {
    transform: scale(1.1);
    transition: color 0.5s ease;
    color: rgba(91, 91, 91, 0.574) !important;
}


/* Clases para la view individual de cada elemento */
.contenedor-individual-store {
    height: 650px;
    margin-bottom: 40px;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.precio-individual {
    font-size: 40px;
    font-weight: bold;
}

.contenedor-img-store {
    height: 325px;
}


.contenedor-individual-store:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.contenedor-individual-store:hover .precio {
    opacity: 0.4;
    transform: scale(1.1);
}

.contenedor-individual-store:hover .precio-rebaja {
    transform: scale(1.1);
    opacity: 1;
}

.btn-individual {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
}

.contenedor-individual-store:hover .btn-individual {
    transform: scale(1.05);
    opacity: 1;
}

.contenedor-individual-store:hover .img-elemento {
    transform: translateY(-10px);
}

.contenedor-individual-store:hover .nombre-producto-individual {
    transform: scale(1.05);
}

.nombre-producto-individual {
    transition: transform 0.5s ease;
    font-size: 20px;
    display: inline-block;
}

.volver-atras-btn:hover {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}

.imagen-contenedor {
    height: 350px;
}

.contenedor-titulo {
    height: 75px;
}

.contenedor-compras {
    height: 200px;
}

.animacion-compras {
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    border-radius: 10px;
}

.animacion-compras:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.contenedor-elementos {
    min-height: 300px;
    max-height: 675px;
    overflow-y: auto;
}

.separacion-fondo {
    padding-bottom: 50px;
}

.animacion-individual-store {
    pointer-events: none;
    opacity: 0;
    transition: opacity 2.5s ease, transform 3s ease, color 0.6s ease;
    transform: translateY(20px);
}

.animacion-individual-store.visible {
    pointer-events: all;
    opacity: 1;
    transition: opacity 2.5s ease, transform 3s ease, color 0.6s ease;
    transform: translateX(0);
}