.contenedor-principal-transferencias {
    height: 600px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #E0E0E0;
    border: 4px double #A0A0A0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3) !important;
}




.titulo-transferencia {
    font-size: 70px;
    font-weight: 700;
}

.concepto-transferencias {
    height: 150px;
}

.btn-transferencias {
    transition: color 1s ease;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    border: none !important;
    box-shadow: none !important;
}

.btn-transferencias:hover {
    color: rgb(154, 154, 154) !important;
}

.contenedor-modal-transferencias {
    border-radius: 40px !important;
}


@media (max-width: 580px) {
    .titulo-transferencia {
        font-size: 30px;
        font-weight: 700;
    }

    .contenedor-principal-transferencias {
        height: 750px;
        width: 100% !important;
        border-radius: 0px;
        margin-bottom: 15px;
        background-color: #E0E0E0;
        border: 4px solid #A0A0A0;
    }

    .btn-transferencias {
        font-size: 20px;
        width: 80% !important;
    }
}

@media (min-width: 580px) and (max-width: 992px) {
    .titulo-transferencia {
        font-size: 30px;
        font-weight: 700;
    }

    .contenedor-principal-transferencias {
        height: 750px;
        width: 90% !important;
        border-radius: 0px;
        margin-bottom: 30px;
        background-color: #E0E0E0;
        border: 4px solid #A0A0A0;
    }

    .btn-transferencias {
        font-size: 20px;
        width: 80% !important;
    }
}



.bg-transferencia-modo-negro {
    background-color: rgba(0, 0, 0, 0.163);
}